/* Contenedor de la lista de tarjetas */
.country-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  width: 90%;
}

/* Tarjetas de país */
.country-card {
  background: linear-gradient(135deg,  #033fad, #1779db); /* Degradado azul-violeta */
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra ligera */
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 220px;
  text-align: center;
}

.country-card:hover {
  transform: translateY(-8px); /* Animación al pasar el mouse */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.country-card img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.country-card h3 {
  font-size: 1.3rem;
  margin: 15px 0;
  color: #fefefe;
  font-weight: bold;
}

/* Estilo del modal */
.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.85) !important; /* Fondo oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
}


.ReactModal__Content h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #333333;
  margin-bottom: 10px;
}

.ReactModal__Content p {
  font-size: 1rem;
  color: #555555;
  margin: 5px 0;
}

.ReactModal__Content button {
  background-color: #2a5298;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}

.ReactModal__Content button:hover {
  background-color: #1e3c72;
}
